.row{
    width: 100%;
    display: flex;
}

.nav-logo{
    width: 100px;
    display: inline-block;

    img{
        height: 32px;
        width: 78px;
        
    }

}

.navbar-nav{
    padding: 10px 0;

    .nav-link{
        color: $primarywhite;
        font-size: 14px;
        font-weight: 400;
        font-family: $myfont;
        
    }
    
       
    

}

.left-nav{

    i{
        color: $primarywhite;   
        font-size: 16px;
        margin-left: 40px;      
         

        &:hover{
            color: rgb(177, 173, 173);
        }

    }

    

}

    
  
   


   

